.todolistWrapper {
    box-sizing: border-box;
    width: 310px;
    position: relative;
}

h3 {
    display: flex;
    justify-content: space-between;
}

.removeButton {
    margin-right: 30px;
}







